[submodule "hardware/CrumpPrints.pretty"]
	path = hardware/CrumpPrints.pretty
	url = https://github.com/tylercrumpton/CrumpPrints.pretty.git
[submodule "hardware/CrumpSchemes"]
	path = hardware/CrumpSchemes
	url = https://github.com/tylercrumpton/CrumpSchemes.git
[submodule "hardware/CrumpPrintSymbols.pretty"]
	path = hardware/CrumpPrintSymbols.pretty
	url = https://github.com/tylercrumpton/CrumpPrintSymbols.pretty.git
